body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.btn-container .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    text-align: center;
    padding: 10px;
}

.logout-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn span {
    margin-top: 5px;
}

.btn-users { background-color: #3498db; }
.btn-events { background-color: #2ecc71; }
.btn-shield { background-color: #002BFF; }
.btn-password { background-color: #e74c3c; }
.btn-ranking { background-color: #9b59b6; }
.btn-fighter { background-color: #f39c12; }
.btn-application { background-color: #c0392b; }
.btn-ticketing { background-color: #1abc9c; }
.btn-service-client { background-color: #7f8c8d; }
.btn-image { background-color: #34495e; }
.btn-logout { background-color: #95a5a6; }
.btn-newsletters { background-color: #4CAF50; }
.btn-captcha { background-color: #007BFF; }
.btn-accueil { background-color: #FFC107; }
.btn-logs { background-color: #8e44ad; }
.btn-permissions { background-color: #e67e22; }
.btn-databases { background-color: #d35400; }
.btn-error { background-color: #e74c3c; }

@media screen and (max-width: 770px) {
    .btn {
        font-size: 14px;
        margin-top: 5px;
    }

    body {
        min-height: auto;
    }
}