body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242222;
}

.combat-section{
    margin: 200px;
    margin-top: 100px;
}

.combat-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px wheat;
}

.combat-box img{
    width: 150px;
    height: 100px;
    border-radius: 50%;
}

.versus{
    font-size: 24px;
    font-weight: bold;
    color: aliceblue;
}

button{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

button:hover{
    background-color: white;
    color: wheat;
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: wheat;
}

h3{
    color: wheat;
}

button a{
    text-decoration: none;
    color: black;
}

.separator{
    height: 10px;
    background-color: #ffffff;
    margin: 20px;
    margin: 50px;
}